ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(21, 47, 71);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(44, 5, 5)
  }

   {
    box-sizing: border-box;
  }
  
  .box {
    float: left;
    width: 33.33%;
    padding: 1px;

  }
  

  .box p {
    display: block;
  color: white;
  text-align: center;
  padding: 0.1px 0.1px;
  font-weight:bold;
  text-decoration: none;
  }

   {
    box-sizing: border-box;
  }
  
  
   .footer {
    background-color: rgb(17, 16, 16);
    color: rgb(241, 234, 234);
    padding: 1px;
  }
  
  .table{
    float: center;
  }
  
  .column {
    float: left;
    padding: 15px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .menu {
    width: 35%;
  }
  
  .content {
    width: 75%;
  }
  


  .menu li {
    padding: 16px;
    margin-bottom: 5px;
    background-color: #f7fafc;
    color: #1f1d1d;
  
  }
  